* {
  margin: 0;
}

html, body, #root, .App {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Roboto", sans_serif;
}

.pageWrap {
	min-height: 95%;
}

header {
	background-color: #03A9F4;
	color: #ffffff;
	padding: 3%;
	height: 4%;
}

footer {
	background-color: #1976D2;
	color: #ffffff;
	padding: 3%;
}

h2 {
	margin: 0;
}

.pageTitle {
	display: inline-grid;
}

.pageTitle a {
	color: #ffffff;
	text-decoration: none;
}

.newArticle {
	display: inline-grid;
	float: right;
}
.newArticle a {
	color: #ffffff;
	text-decoration: none;
}

.articleList {
	margin: 5%;
}

.articleCard {
	margin: 3%;
	width: 25%;
	display: inline-grid;
	border: 1px solid #03A9F4;
}

.cardAuthor {
	background-color: #03A9F4;
	color: #ffffff;
	padding: 5%;
	text-align: center;
}

.cardAuthor a {
	color: #ffffff;
	text-decoration: none;
}

.cardContent {
	width: 95%;
	margin: 3%;
}

.cardTitle {
	font-weight: bold;
	font-size: 1.05em;
}

.articleShow {
	position: absolute;
	margin: 3%;
	width: 90%;
}

.articleAuthor {
	background-color: #03A9F4;
	color: #ffffff;
	padding: 2%;
	text-align: center;
	font-size: 1.18em;
}

.articleContent {
	width: 95%;
	margin: 3%;
}

.articleTags {
	font-weight: bold;
	font-size: 1em;
}

.articleForm {
	height: 100%;
	width: 95%;
	margin: 3%;
	margin-left: 6%;
}

input, textarea {
	display: block;
	margin: 1%;
}

.deleteButton {
	float: right;
}
